@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.dashbody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
}
.dashboard_container {
  display: flex;
  flex-direction: row;
}
.dashboard_main {
  display: flex;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.navbar .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Sidebar */

.sidebar {
  /* width: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f4fd;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sidebar ul li {
  display: flex;
  flex-direction: row;
  margin: 18px 0;
  transition: all 0.3s;
}
.sidebar ul li .links, .sidebar ul li .links .svgIcon {
  fill: #6d6d6d;
  color: #6d6d6d;
  margin-left: 5px;
  padding: 1px 3px;
  display: flex;
  align-items: center;
}
.sidebar ul li .active {
  padding: 5px;
  color: #000;
  font-weight: 600;
}
.sidebar ul li .active .add-icon {
  fill: #000;
  transform: scale(1.2);
  animation: rotation 0.5s alternate;
}
.sidebar ul li .active .user-icon {
  fill: #000;
  transform: scale(1.2);
}
.sidebar ul li .active .svgIcon{
  fill: #000;
  transform: scale(1.2);
  transition-duration: 1.5s;

}
.sidebar ul li:hover .svgIcon:hover {
  transform: rotate(180deg);
  transition-duration: 1s;
  /* animation: rotation 0.5s alternate; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
.sidebar ul li .searchtool{
  position: absolute;
  margin-left: 35px;
}
.sidebar ul li .active .sidebar-icon {
  transform: rotate(-10deg) scale(1.2);
}
.sidebar ul li .active p {
  margin-left: 5px;
}
/* Dashboard Main Body */
.wrapper {
  display: flex;
}
.main {
  padding: 10px;
  /* display: flex; */
}

.mainbody{
  width: 100%;
}
.mainbody .recent{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.mainbody .recent-note{
  width: 100%;
  padding: 0 15px;
}
.mainbody .recent-note img{
width: 100%;
}
.mainbody .note{
  width: 100%;
  /* height: 50px; */
  margin: 5px 0;
  padding: 8px 12px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: rgba(86, 86, 216, 0.2) 0px 5px 10px 0px;
}
.main .box {
  padding: 15px;
}
.main .box .header{
 text-align: center;
}


/* NOTES  */
.no-note-templete{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
  font-family: "Montserrat";
}
.no-notes{
  font-size: 1.5rem;
  text-align: center;
}
.steps{
  margin-top: 50px;
}
.steps .svgIcon{
  position: relative;
  top: 5px;
}
.top {
  position: relative;
  display: flex;
  flex-direction: row;
  /* margin: 15px; */
  justify-content: space-evenly;
  align-items: center;
}
.suggest{
  visibility: hidden;
  height: 200px;
  position: fixed;
  bottom: 60px;
  right: -10px;
  z-index: 99;
  mix-blend-mode: color-burn;
}
.input-field {
  position: relative;
}
.input-field input,
.tag-container form input {
  width: 100%;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
}
.input-field input:focus,
.tag-container form input:focus {
  border: 2px solid black;
}
.input-field input::placeholder {
  color: #b6b6b6;
}
.icon {
  width: 18px;
  height: 18px;
}
.l-icon {
  width: 25px;
  height: 25px;
  stroke-width: 2;
}
.s-icon {
  width: 12px;
  height: 12px;
  stroke-width: 2;
}
.input-field .icon-right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.input-field input:focus + .icon-right .icon {
  stroke-width: 2;
}

.message-while-edit{
  padding: 5px 25px;
}
/* Extended Note Styles */
.option{
  position: fixed;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
.option .tools{
  display: flex;
  justify-content: space-evenly;
}

.option button{
  border-radius: 15px;
  padding: 15px 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.option button:disabled {
  background-color: #5d5d5d;
  color: #c7c3c3;
  cursor: not-allowed;
}
.option button:disabled:active, .option button:disabled:hover{
  background-color: #f22e2e;
  color: #c7c3c3;
  cursor: not-allowed;
  animation: shake 0.5s ease-in-out;
}
.option button:active{
  background-color: #000;
  color: #fff;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
/********** Night Setting **********/
.night{
  background-color: #000 !important;
}
.night ~ .option button:active{
  background-color: #fff !important;
  color: #000;
}
.night .note-title{
  background-image: linear-gradient(to right,#fff 0,#fff 25%,transparent 25%) !important;
}
.night .note-title, .night .note-body p{
color: #fff;
}
.markdown code{
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}
.markdown img{
  max-width: 280px;
}
  .markdown ul li:last-child, .markdown ol li:last-child {
    content: '\A'; /* Using '\A' to insert a line break */
    white-space: pre; /* Ensures the line break is preserved */
  }
.markdown ul li::before {
  content: "• ";
  color: inherit;
}
.markdown ol li{
  margin-left: 15px;
}
.night .note-body .markdown{
color: #fff;
}
.night ~ .option button{
  background-color: #000 !important;
  color: #fff;
}
.night > .card-closebtn{
  background-image: linear-gradient(to top,#fff 0,#fff 25%,transparent 25%) !important;
  color: #fff;
}
.night > .markbtn, .night > .publicbtn{
  color: #fff;
}
.menu{
  display: flex;
  align-items: center;
}
/********** Range Input Styles **********/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 12rem;
   margin: 0 5px;
}
input[type="range"]:focus {
 outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #b6b6b6;
  height: 3px;
}
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
  appearance: none;
  margin-top: -8px; 
  background-color: #000;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.night input[type="range"]::-webkit-slider-thumb {
  background-color: #fff;
}
.night .menu p{
  color: #fff;
}
/* Buttons Start */
.primary,
.secondary {
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  border-radius: 25px;
  margin: 8px 0;
}
.primary .icon, .secondary .icon{
  margin-right: 5px;
}
.primary span, .secondary span{
  display: flex;
  align-items: center;
}

.primary {
  background-color: #000;
  color: #fff;
}
.secondary {
  background-color: #c3dcff;
  color: #000;
}
.primary:not([disabled])::before,
.secondary:not([disabled])::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  transition: right 0.8s;
}
.primary:not([disabled]):hover::before,
.secondary:not([disabled]):hover::before {
  right: -200px;
}
.primary:not([disabled]):active,
.secondary:not([disabled]):active {
  transform: scale(0.95);
}
.primary:disabled {
  background-color: #6d6d6d;
  cursor: not-allowed;
}
.secondary:disabled {
  background-color: #d6e8fe;
  color: #6d6d6d;
  cursor: not-allowed;
}
/* Buttons End */
.add-shared {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
  border-radius: 6px;
}
.add-shared h3 {
  font-size: 25px;
}
.add-shared form{
  position: relative;
}
.add-shared .scanbtn{
  position: absolute;
  top: 25px;
  right: 15px;
}
.add-shared input {
  margin: 15px 0;
  width: 100%;
  /* padding: 1px 6px; */
  padding: 10px 40px 10px 6px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
}
.add-shared .while-adding {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.file{
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
}

.scanning {
  position: absolute;
  animation: scan 1s infinite alternate-reverse ease-in;
  background-color: rgba(54, 162, 235, 0.2);
  border-bottom: 4px solid rgba(54, 162, 235, 1);
}
.err-while-scan{
  background-color: rgba(235, 54, 54, 0.2);
  border-bottom: 4px solid rgb(235, 54, 54);
}
.success-while-scan{
  background-color: rgba(54, 235, 90, 0.2);
  border-bottom: 4px solid rgb(54, 235, 90);
}
.scanner{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#000, #000) left top,
    linear-gradient(#000, #000) left top,
    linear-gradient(#000, #000) right top,
    linear-gradient(#000, #000) right top,
    linear-gradient(#000, #000) left bottom,
    linear-gradient(#000, #000) left bottom,
    linear-gradient(#000, #000) right bottom,
    linear-gradient(#000, #000) right bottom;
    background-repeat: no-repeat;
    background-size: 2px 24px, 24px 2px;
}
@keyframes scan {
  0%{
  height: 0px;
}
100%{
  height: 100%;
  }
}
.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000001a;
  backdrop-filter: blur(2px);
  z-index: 90;
  animation: popover 0.3s ease-in;
}
.qr, .qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.qrcode{
  padding: 10px;
}
.qrcode h2 .icon{
  margin-right: 5px;
}
.qr h2 {
  padding: 10px;
  border: 2px solid #e4e4e4;
  text-align: center;
  font-size: 15px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}
.qr h2 .icon{
  margin-left: 5px;
  cursor: pointer;
}
.noteInputArea{
  display: flex;
  height: 98%;
  margin-top: 5px;
}
.note-title{
  background-image: linear-gradient(to right,#000 0,#000 25%,transparent 25%);
  background-repeat: repeat-x;
  background-size: 4px 1px;
  background-position: 0 bottom;
  padding: 0 0 5px;
}
.note-title input, .note-title h3 {
  font-weight: 600;
  font-size: 2rem;
  word-wrap: break-word;
}
.note-title input::placeholder {
  color: #b6b6b6;
}
.filters{
  position: relative;
  margin-top: 5px;
}
.filters button .icon{
  margin-right: 5px;
}
.filters button span{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters button{
  border-radius: 5px;
  padding: 4px 6px;
  margin-right: 10px;
}
.download-btn{
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  margin-left: 8px;
  background-color: #000;
  color: #fff;
}
.download-btn .icon{
  margin-left: 8px;
}

.filters button:active {
  background-color: #c3dcff;
}
.download-btn:active{
  background-color: #1d1d1dcb;
}
.changeView{
  width: 18px !important;
}
.view {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}
.view .box1, .view .box2, .view .box3, .view .box4 {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
}
.view .box1 { top: 0; left: 0; }
.view .box2 { top: 0; left: 10px; }
.view .box3 { top: 10px; left: 0; }
.view .box4 { top: 10px; left: 10px; }

.notes-list{
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  padding-bottom: 50px;
}
.explore-list{
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 140px);
  margin: 15px 0;
}
.note-container{
  height: 89%;
}
.note-container form{
  height: 90%;
}
.notes, .explore, .changeNoteView, .changeSnapView {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 15px 20px 5px 20px;
  box-shadow: rgba(86, 86, 216, 0.2) 0px 7px 20px 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  animation: sideway 0.3s ease-in;
  word-wrap: break-word;
}
.notes{
  min-height: 350px;
  width: 300px;
}
.explore{
  min-height: 200px;
  width: 140px;
  position: relative;
  overflow: hidden;
}
.explore .note-body{
  flex-grow: 1;
}
.info{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 30px;
  height: 30px;
}
.info-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #ffffff80;
  backdrop-filter: blur(12px);
}
.info-container p{
  font-family: Montserrat;
  font-size: 20px;
}
.info-container .added-date{
border-bottom: 1px solid black;
padding-bottom: 5px;
}
.info-container p .icon{
  margin-right: 5px;
}
.changeNoteView{
  min-height: 30px;
  width: 300px;
}
.changeSnapView{
  min-height: 30px;
  width: 300px;
}
.changeSnapView .snap-img img{
  width: 50px;
  height: 50px;
}
.notes .header, .changeNoteView .header, .changeSnapView .header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.notes .header h3 {
  width: 100%;
  font-size: 2rem;
  overflow-y: auto;
  word-break: break-word;
}
.notes .note-body{
  flex-grow: 1;
  cursor: pointer;
}
.download-note{
  height: 100%;
}
.extended-note{
  transition: height .2s;
}
.extended-note .note-body {
  height: 95%;
  overflow-y: auto;
  word-break: break-word;
  padding-bottom: 25px;
}
.notes .note-body p,
.extended-note .note-body p,
.changeNoteView .note-body p{
  white-space: pre-line;
}
.changeNoteView .note-body p{
  min-height: 20px;
}
.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.bottom button{
  position: absolute;
  top: 0;
  right: 0;
}
.bottom button:active{
  transform: scale(0.9);
}
.bottom p {
  font-size: 15px;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 1px;
  border-top: 1px solid #000;
  width: 100%;
  padding: 8px 0;
}
.addedfrom {
  font-size: 14px;
}
.info-container .tag-container .tag p {
  font-size: 10px;
}
.tag-container .tag p {
  border: 1px solid rgb(66, 66, 66);
  color: rgb(66, 66, 66);
  width: fit-content;
  padding: 2px 8px;
  border-radius: 25px;
  margin-top: 5px;
}

.tag-container .tag{
  display: flex;
  align-items: center;
}
.tag-container .tag .icon{
margin: 6px 6px 0 0;
}
.tag-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.tag-container form button {
  display: flex;
  margin-left: 5px;
  padding: 5px;
}
.night .tag-container form input{
  border: 1px solid #fff;
  color: #fff;
}
.night .tag-container form input::placeholder{
  color: #b6b6b6;
}

@keyframes popover {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sideway {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FAVOURITE */
.no-of-notes{
  border-radius: 5px;
  background-color: #ebf3fd;
  padding: 2px 5px;
  font-weight: 500;
}
.marked-body{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.marked-list{
  margin: 20px 0;
}
.marked-note {
  background-image: linear-gradient(to right, #000 0, #000 25%, transparent 25%), linear-gradient(to right, #000 0, #000 25%, transparent 25%);
  background-repeat: repeat-x;
  background-size: 4px 1px;
  background-position: 0 top, 0 bottom;
  padding: 15px 5px;
  cursor: pointer;
  margin: 5px 0;
}
.marked-note:hover, .marked-note:active{
  background-color: #ebf3fd;
}
.page-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  font-size: 1.2em;
}
.page-not-found h2{
  font-family: "Montserrat";
}
.page-not-found button a{
  font-family: "Montserrat";
  color: #fff;
}
/* SnapToADD */
.card, .note-card{
  position: fixed;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  border-radius: 25px;
  width: 98%;
  overflow: hidden;
  padding: 30px;
  box-shadow: rgba(64, 87, 109, 0.07) 0px 0px 0px 1px,
    rgba(53, 71, 90, 0.2) 0px 2px 12px 0px;
}
.card{
  bottom: 2%;
}
.note-card{
  top: 2%;
}
.card-closebtn,
.markbtn,
.note-card .markbtn,
.publicbtn{
  position: absolute;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.card-closebtn{
  right: 15px;
  top: 10px;
  border-radius: 50%;
  background-image: linear-gradient(to top,#000 0,#000 25%,transparent 25%);
  background-position: left 2px;
  background-repeat: repeat-y;
  background-size: 0px 4px;
  transition: background-size .3s;
}
.publicbtn{
  right: 100px;
  top: 10px;
}
.publicbtn img{
  width: 25px;
}
.note-card .markbtn{
  right: 60px;
  top: 10px;
  cursor: pointer;

}
.note-card .publicbtn{
  cursor: default;
}

.card-closebtn:hover{
  background-size: 50px 4px;
}
.card form input,
.card form textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.progress {
  margin-top: 10px;
  background-color: #c3dcff;
  padding: 5px 15px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress p{
  margin-right: 5px;
}
.image-details {
  font-size: 12px;
  flex-grow: 1;
  margin-left: 15px;
}

.extended-note .note-body::-webkit-scrollbar {
  width: 5px;
}

.night .extended-note .note-body::-webkit-scrollbar-track {
  background-color: #000000;
}
.night .extended-note .note-body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.extended-note .note-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.extended-note .note-body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

.extended-note .note-body::-webkit-scrollbar-thumb:hover {
  background-color: #010101;
}

@media screen and (max-width: 720px) {
  /* .navbar {
    flex-direction: column;
  } */
  .suggest{
    visibility: inherit;
  }
  .mainbody .recent{
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    position: relative;
  }
  .sidebar ul {
    position: fixed;
    bottom: 10px;
    left: 50%;
    flex-direction: row;
    align-items: center;
    transform: translateX(-50%);
    background-color: #ffffff80;
    backdrop-filter: blur(12px);
    border-radius: 25px;
    z-index: 15;
    width: 94%;
    justify-content: space-evenly;
    box-shadow: rgba(64, 87, 109, 0.07) 0px 0px 0px 1px,
rgba(53, 71, 90, 0.2) 0px 2px 12px 0px;
  }
  .sidebar.hide {
    display: none;
  }
  .sidebar ul li {
    margin: 5px;
  }
  .sidebar ul li p {
    display: none;
    margin-top: 5px;
    font-size: 10px;
  }
  .sidebar ul li .active{
    border: none;
  }
  .sidebar ul li .active p {
    display: inline-block;
  }

  .sidebar ul li .links {
    flex-direction: column;
  }
  .sidebar ul:last-child {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper .box {
    margin: 0 auto;
    width: 80%;
  }
  .mainbody {
    margin-top: 15px;
  }
  .card {
    width: 94%;
  }
  .add-shared {
    flex-direction: column;
  }
}
