/* box-shadow: rgba(64, 87, 109, 0.07) 0px 0px 0px 1px,
rgba(53, 71, 90, 0.2) 0px 2px 12px 0px; */

.dashbody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
}
.dashboard_container {
  display: flex;
  flex-direction: row;
}
.dashboard_main {
  display: flex;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  flex-grow: 1;
}
.navbar form {
  display: flex;
}
.navbar form input {
  width: 345px;
  border: 2px solid rgb(180, 180, 180);
  padding: 5px 10px;
  margin-right: 20px;
  box-shadow: rgba(86, 86, 216, 0.2) 0px 7px 20px 0px;
  border-radius: 5px;
  transition: box-shadow 0.2s;
}
.navbar form input:focus {
  box-shadow: rgba(86, 86, 216, 0.3) 0px 7px 20px 0px;
}
.navbar .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .profile .notification {
  position: relative;
  margin-right: 25px;
  color: #000;
  width: 25px;
  height: 25px;
}
.navbar .profile .notification span {
  position: absolute;
  top: -1px;
  right: 2px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #000;
}
.navbar .profile .notification span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  z-index: -1;
  animation: fade 1s infinite;
}
@keyframes fade {
  0%{
    height: 10px;
    width: 10px;
    opacity: 1;
    border: 2px solid rgba(255, 0, 0, 0.5);
  }100%{
    opacity: 0;
    height: 15px;
    width: 15px;
    border: 3px solid rgba(255, 0, 0, 0.1);
  }
}
.notificationBox {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  background-color: #c3dcff;
  z-index: 99;
  animation: showme 0.3s ease-in;
}
@keyframes showme {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 25%;
  }
}
.notificationBox h2 {
  text-align: center;
}

/* Sidebar */

.sidebar {
  /* width: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f4fd;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sidebar ul li {
  display: flex;
  flex-direction: row;
  margin: 18px 0;
  transition: all 0.3s;
}
.sidebar ul li .links {
  color: #6d6d6d;
  margin-left: 5px;
  padding: 1px 3px;
  display: flex;
  align-items: center;
}
.sidebar ul li .active {
  padding: 5px;
  color: #000;
  font-weight: 600;
}
.sidebar ul li .active .add-icon {
  transform: scale(1.2);
  animation: rotation 0.5s alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar ul li .active .sidebar-icon {
  transform: rotate(-10deg) scale(1.2);
}
.sidebar ul li .active p {
  margin-left: 5px;
}
/* Dashboard Main Body */
.wrapper {
  display: flex;
}
.main {
  padding: 10px;
  /* display: flex; */
}
.mainbody .note{
  width: 100%;
  /* height: 50px; */
  margin: 5px 0;
  padding: 8px;
  background-color: #ebf3fd;
}
.main .box {
  color: black;
  padding: 15px;
  border-radius: 15px;
  width: 33%;
}


/* NOTES  */
.no-note-templete{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}
.no-notes{
  font-size: 1.5rem;
  text-align: center;
}

.top {
  position: relative;
  display: flex;
  flex-direction: row;
  /* margin: 15px; */
  justify-content: space-evenly;
  align-items: center;
}

.input-field {
  position: relative;
}
.input-field input,
.tag-container form input {
  width: 100%;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
}
.input-field input:focus,
.tag-container form input:focus {
  border: 2px solid black;
}
.input-field input::placeholder {
  color: #b6b6b6;
}
.icon {
  width: 18px;
  height: 18px;
}
.l-icon {
  width: 25px;
  height: 25px;
  stroke-width: 2;
}
.right .input-field .icon-right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.input-field input:focus + .icon-right .icon {
  stroke-width: 2;
}

.message-while-edit{
  padding: 5px 25px;
}
/* Extended Note Styles */
.option{
  position: fixed;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
.option .tools{
  display: flex;
  justify-content: space-evenly;
}

.option button{
  border-radius: 15px;
  padding: 15px 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.option button:active{
  background-color: #000;
  color: #fff;
}
.night ~ .option button:active{
  background-color: #fff !important;
  color: #000;
}
.night{
  background-color: #000 !important;
}
.night .note-title, .night .note-body p{
color: #fff;
}
.night ~ .option button{
  background-color: #000 !important;
  color: #fff;
}
.menu{
  display: flex;
  align-items: center;
}
/********** Range Input Styles **********/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 12rem;
   margin: 0 5px;
}
input[type="range"]:focus {
 outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #b6b6b6;
  height: 3px;
}
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
  appearance: none;
  margin-top: -8px; 
  background-color: #000;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.night input[type="range"]::-webkit-slider-thumb {
  background-color: #fff;
}
.night .menu p{
  color: #fff;
}
/* Buttons Start */
.primary,
.secondary {
  position: relative;
  overflow: hidden;
  padding: 8px 30px;
  border-radius: 25px;
  margin: 8px 0;
}
.primary .icon{
  margin-right: 5px;
}
.primary {
  background-color: #000;
  color: #fff;
}
.secondary {
  background-color: #c3dcff;
  color: #000;
}
.primary:not([disabled])::before,
.secondary:not([disabled])::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  transition: right 0.8s;
}
.primary:not([disabled]):hover::before,
.secondary:not([disabled]):hover::before {
  right: -200px;
}
.primary:not([disabled]):active,
.secondary:not([disabled]):active {
  transform: scale(0.95);
}
.primary:disabled {
  background-color: #6d6d6d;
  cursor: not-allowed;
}
.secondary:disabled {
  background-color: #d6e8fe;
  color: #6d6d6d;
  cursor: not-allowed;
}
.dots {
  color: #ffffff;
  position: relative;
  animation: dot 0.5s infinite alternate-reverse;
}
.dots:nth-child(1) {
  animation-delay: 0.2s;
}
.dots:nth-child(2) {
  animation-delay: 0.3s;
}
.dots:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot {
  0% {
    top: -5px;
  }
  50% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}
/* Buttons End */
.recent-snaps .note, .marked-list .marked-snap{
  display: flex;
}
.recent-snaps .note img, .marked-list .marked-snap img{
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.add-shared {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
  border-radius: 6px;
}
.add-shared h3 {
  font-size: 25px;
}
.add-shared form{
  position: relative;
}
.add-shared .scanbtn{
  position: absolute;
  top: 25px;
  right: 15px;
}
.add-shared input {
  margin: 15px 0;
  width: 100%;
  /* padding: 1px 6px; */
  padding: 10px 40px 10px 6px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
}
.add-shared .while-adding {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.file{
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
}

.scanning {
  position: absolute;
  animation: scan 1s infinite alternate-reverse ease-in;
  background-color: rgba(54, 162, 235, 0.2);
  border-bottom: 4px solid rgba(54, 162, 235, 1);
}
.err-while-scan{
  background-color: rgba(235, 54, 54, 0.2);
  border-bottom: 4px solid rgb(235, 54, 54);
}
.success-while-scan{
  background-color: rgba(54, 235, 90, 0.2);
  border-bottom: 4px solid rgb(54, 235, 90);
}
.scanner{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#000, #000) left top,
    linear-gradient(#000, #000) left top,
    linear-gradient(#000, #000) right top,
    linear-gradient(#000, #000) right top,
    linear-gradient(#000, #000) left bottom,
    linear-gradient(#000, #000) left bottom,
    linear-gradient(#000, #000) right bottom,
    linear-gradient(#000, #000) right bottom;
    background-repeat: no-repeat;
    background-size: 2px 24px, 24px 2px;
}
@keyframes scan {
  0%{
  height: 0px;
}
100%{
  height: 100%;
  }
}
.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000001a;
  backdrop-filter: blur(2px);
  z-index: 90;
  animation: popover 0.3s ease-in;
}
.qr, .qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.qrcode{
  padding: 10px;
}
.qr h2 {
  padding: 10px;
  border: 2px solid #e4e4e4;
  text-align: center;
  font-size: 15px;
  background-color: #f1f1f1;
}
.noteInputArea{
  display: flex;
  height: 98%;
  margin-top: 5px;
}
.note-title input, .note-title h3 {
  font-weight: 600;
  font-size: 2rem;
  word-wrap: break-word;
}
.note-title input::placeholder {
  color: #b6b6b6;
}
.filters{
  position: relative;
}
.filters button .icon{
  margin-right: 5px;
}
.filters button span{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters button, .download-btn{
  border-radius: 5px;
  padding: 4px 6px;
  margin-right: 10px;
}
.filters button:active, .download-btn:active{
  background-color: #c3dcff;
}
.changeView{
  width: 18px !important;
}
.view {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}
.view .box1, .view .box2, .view .box3, .view .box4 {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
}
.view .box1 { top: 0; left: 0; }
.view .box2 { top: 0; left: 10px; }
.view .box3 { top: 10px; left: 0; }
.view .box4 { top: 10px; left: 10px; }

.notes-list, .snaps-list{
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  margin: 15px 0;
}
.note-container{
  height: 89%;
}
.note-container form{
  height: 90%;
}
.notes, .changeNoteView, .changeSnapView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: rgba(86, 86, 216, 0.2) 0px 7px 20px 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  animation: sideway 0.3s ease-in;
  word-wrap: break-word;
}
.notes, .snaps{
  min-height: 350px;
  width: 300px;
}
.changeNoteView{
  min-height: 30px;
  width: 300px;
}
.changeSnapView{
  min-height: 30px;
  width: 300px;
}
.changeSnapView .snap-img img{
  width: 50px;
  height: 50px;
}
.notes .header, .changeNoteView .header, .changeSnapView .header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.notes .header button, .changeNoteView .header button{
  position: absolute;
  top: -8px;
  right: -8px;
}
.notes .header h3 {
  width: 100%;
  font-size: 2rem;
  overflow-y: auto;
  word-break: break-word;
}
.notes .note-body{
  flex-grow: 1;
  cursor: pointer;
}
.download-note{
  height: 100%;
}
.extended-note{
  transition: height .2s;
}
.extended-note .note-body {
  height: 95%;
  overflow-y: auto;
  word-break: break-word;
}
.notes .note-body p,
.extended-note .note-body p,
.changeNoteView .note-body p{
  white-space: pre-line;
}
.changeNoteView .note-body p{
  min-height: 20px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.bottom p {
  font-size: 15px;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.addedfrom {
  font-size: 14px;
}
.tag-container .tag p {
  background-color: rgb(49, 201, 221);
  color: #fff;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 5px;
}
.tag-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag-container form button {
  display: flex;
  margin-left: 5px;
  padding: 5px;
}
.night .tag-container form input{
  border: 1px solid #fff;
  color: #fff;
}
.night .tag-container form input::placeholder{
  color: #b6b6b6;
}

@keyframes popover {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sideway {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FAVOURITE */
.marked-list{
  margin: 20px 0;
}
.marked-note{
  padding: 10px 5px;
}
.marked-note:nth-of-type(odd){
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding: 10px 5px;
}
.marked-note:last-child{
  border-bottom: 1px solid #b6b6b6;
}




/* SnapToADD */
.card, .note-card{
  position: fixed;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  border-radius: 25px;
  width: 98%;
  overflow: hidden;
  padding: 30px;
  box-shadow: rgba(64, 87, 109, 0.07) 0px 0px 0px 1px,
    rgba(53, 71, 90, 0.2) 0px 2px 12px 0px;
}
.card{
  bottom: 2%;
}
.note-card{
  top: 2%;
}
.card-closebtn, .card .markbtn,
.note-card .markbtn {
  position: absolute;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #f3f7fc;
}
.card-closebtn{
  right: 15px;
  top: 10px
}
.card .markbtn, .note-card .markbtn{
  right: 60px;
  top: 10px
  
}
.card-closebtn:hover, .card .markbtn:hover {
  background-color: #e1efff;
}
.card form input,
.card form textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.progress {
  margin-top: 10px;
  background-color: #c3dcff;
  padding: 5px 15px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress p{
  margin-right: 5px;
}
.image-details {
  font-size: 12px;
  flex-grow: 1;
  margin-left: 15px;
}

.snap-container h3 {
  text-align: center;
}
.snap-container textarea,
.snap-container input[type="text"] {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.snap-container input[type="file"] {
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  margin: 10px 0;
  cursor: pointer;
}
.snap-container input[type="file"]:active {
  border: 2px solid black;
  transform: scale(0.95);
}
.snap-container input[type="file"]::-webkit-file-upload-button {
  background-color: #000;
  color: #fff;
  height: 100%;
}
.snaps {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 10px;
  height: 300px;
  width: 300px;
  box-shadow: rgba(86, 86, 216, 0.2) 0px 7px 20px 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  animation: sideway 0.3s ease-in;
}
.snap-body {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.snap-img {
  overflow: hidden;
}
.snap-details {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.snaps .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.extended-note .note-body::-webkit-scrollbar {
  width: 5px;
}

.night .extended-note .note-body::-webkit-scrollbar-track {
  background-color: #000000;
}
.night .extended-note .note-body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.extended-note .note-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.extended-note .note-body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

.extended-note .note-body::-webkit-scrollbar-thumb:hover {
  background-color: #010101;
}

@media screen and (max-width: 720px) {
  /* .navbar {
    flex-direction: column;
  } */
  .navbar form input {
    display: none;
  }
  .notificationBox {
    width: 80%;
    animation: showme 0.3s ease-in;
  }
  @keyframes showme {
    0% {
      opacity: 0;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 80%;
    }
  }
  .sidebar {
    position: relative;
  }
  .sidebar ul {
    position: fixed;
    bottom: 0;
    left: 50%;
    flex-direction: row;
    align-items: center;
    transform: translateX(-50%);
    background-color: #daeafd;
    border-radius: 25px 25px 0 0;
    z-index: 1;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: rgba(64, 87, 109, 0.07) 0px 0px 0px 1px,
rgba(53, 71, 90, 0.2) 0px 2px 12px 0px;
  }
  .sidebar.hide {
    display: none;
  }
  .sidebar ul li {
    margin: 5px;
  }
  .sidebar ul li p {
    display: none;
    margin-top: 5px;
    font-size: 10px;
  }
  .sidebar ul li .active p {
    display: inline-block;
  }

  .sidebar ul li .links {
    flex-direction: column;
  }
  .sidebar ul:last-child {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper .box {
    margin: 0 auto;
    width: 80%;
  }
  .mainbody {
    margin-top: 15px;
  }
  .card {
    width: 94%;
  }
  .add-shared {
    flex-direction: column;
  }
}
