* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}
button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.w100 {
  width: 100%;
}
.h95{
  height: 95%;
}
.h100 {
  height: 100%;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f4fd;
}
.left h2 {
  font-size: 3rem;
}
.left h2 span {
  color: blue;
}
.right {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: rgba(86, 86, 216, 0.2) 0px 7px 20px 0px;
}
.right .title{
  margin-bottom: 15px;
}
.pass-info{
  font-size: 12px;
  text-align: center;
  margin: 15px 0;
}
.login_text {
  margin-top: 15px;
  text-align: center;
}
.login_text a {
  text-decoration: none;
  color: black;
}
.login_text a span {
  font-weight: 700;
  margin-left: 5px;
  text-decoration: underline;
}
#loader {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
/* Alert */
.alert {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 25px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 99;
}
@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }
  .right {
    margin: 30px 0;
    width: 90%;
  }
}
